@model LocacaoDeVeiculos.DATA.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="../Home" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
        <a href="../Cliente" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Cliente</a>
        <a href="../Veiculo" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Veiculo</a>
        <a href="../Emprestimos" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Emprestimos</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
    </div>
<h1>Detalhes do cliente</h1>

<div>
    <h4>Confira os detalhes abaixo</h4>
    <hr />
    <div>
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Editar</a>
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Informações Pessoais</div>
        <div class="card-body row">
            <div class="col-md">
       

        <div class="form-group col-md">
            <label>@Html.DisplayNameFor(model => model.Nome)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.Nome)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Cpf)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.Cpf)" />
        </div>
        </div>
        </div>
        </div>
        <br>
        <div class="card">
                <div class="card-header">Endereço </div>
                <div class="card-body row">
                <div class="col-md">



            <div class="form-group col-md">
            <label>@Html.DisplayNameFor(model => model.Endereco)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.Endereco)" />
            </div>
                <div class="form-group">
                  <label>@Html.DisplayNameFor(model => model.Cidade)</label>
                  <input disabled class="form-control" value="@Html.DisplayFor(model => model.Cidade)" />
                </div>
                     <div class="form-group">
                      <label>@Html.DisplayNameFor(model => model.Bairro)</label>
                      <input disabled class="form-control" value="@Html.DisplayFor(model => model.Bairro)" />
                     </div>
             <div class="form-group">
              <label>@Html.DisplayNameFor(model => model.Numero)</label>
              <input disabled class="form-control" value="@Html.DisplayFor(model => model.Numero)" />
        </div>
        </div>
        </div>
        </div>
       
        <br/>

        <div class="card">
            <div class="card-header">Contatos</div>
            <div class="card-body row">
            <div class="col-md">


            <div class="form-grup col-md">
            <label>@Html.DisplayNameFor(model=> model.TelefoneFixo)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.TelefoneFixo)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model=> model.TelefoneCelular)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.TelefoneCelular)" />
        </div>
        </div>
        </div>
    
</div>

