@model LocacaoDeVeiculos.DATA.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do cliente</h1>

<div>
    <h4>Confira os detalhes abaixo</h4>
    <hr />
    <div>
        <a asp-action="Edit" class="btn btn-outline-success m-1" asp-route-id="@Model?.Id">Editar</a>
        <a class="btn btn-outline-primary m-1" asp-action="Index">Voltar</a>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Informações Pessoais</div>
        <div class="card-body row">
            <div class="col-md">
       

        <div class="form-group col-md">
            <label>@Html.DisplayNameFor(model => model.Nome)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.Nome)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Cpf)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.Cpf)" />
        </div>
        </div>
        </div>
        </div>
        <br>
        <div class="card">
                <div class="card-header">Endereço </div>
                <div class="card-body row">
                <div class="col-md">



            <div class="form-group col-md">
            <label>@Html.DisplayNameFor(model => model.Endereco)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.Endereco)" />
            </div>
                <div class="form-group">
                  <label>@Html.DisplayNameFor(model => model.Cidade)</label>
                  <input disabled class="form-control" value="@Html.DisplayFor(model => model.Cidade)" />
                </div>
                     <div class="form-group">
                      <label>@Html.DisplayNameFor(model => model.Bairro)</label>
                      <input disabled class="form-control" value="@Html.DisplayFor(model => model.Bairro)" />
                     </div>
             <div class="form-group">
              <label>@Html.DisplayNameFor(model => model.Numero)</label>
              <input disabled class="form-control" value="@Html.DisplayFor(model => model.Numero)" />
        </div>
        </div>
        </div>
        </div>
       
        <br/>

        <div class="card">
            <div class="card-header">Contatos</div>
            <div class="card-body row">
            <div class="col-md">


            <div class="form-grup col-md">
            <label>@Html.DisplayNameFor(model=> model.TelefoneFixo)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.TelefoneFixo)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model=> model.TelefoneCelular)</label>
            <input disabled class="form-control" value="@Html.DisplayFor(model => model.TelefoneCelular)" />
        </div>
        </div>
        </div>
    
</div>

