@model IEnumerable<LocacaoDeVeiculos.DATA.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Clientes</h1>

<p>
    <a class="btn btn-outline-success m-1" asp-action="Create">Novo Cliente</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TelefoneCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneFixo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TelefoneCelular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefoneFixo)
                </td>
                <td class="col-md">
                    <a asp-action="Edit" class="btn btn-outline-success m-1" asp-route-id="@item.Id"><i class="fa fa-edit"> </i></a>
                    <a asp-action="Details" class="btn btn-outline-primary m-1" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>
                   

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger m-1" data-bs-toggle="modal" data-bs-target="#DeleteModal-@item.Id">
                       <i class="fa fa-trash"> </i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteModalLabel">Excluir Cliente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Deseja realmente excluir o cliente @item.Nome?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Sim</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {


            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
                }
            });
        });
    </script>
   
}