@model LocacaoDeVeiculos.DATA.Models.Veiculo

@{
    ViewData["Title"] = "Details";
}


<h1>Detalhes do Veiculo</h1>

<div>
    <h4>Confira os detalhes abaixo</h4>
    <hr />
    <div>
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Editar</a>
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">Informações Pessoais</div>
        <div class="card-body row">
            <div class="col-md">


                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Marca)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Marca)" />
                </div>
                <div class="form-group">
                    <label>@Html.DisplayNameFor(model => model.Modelo)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Modelo)" />
                </div>
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Ano)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Ano)" />
                </div>
                <div class="form-group">
                    <label>@Html.DisplayNameFor(model => model.Tipo)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Tipo)" />
                </div>
            </div>
        </div>
    </div>
    
</div>

